body{
  background-color: #193b681a;
}
div.DraftEditor-root {
    height: 500px;
    width: auto;
  }
  div.DraftEditor-editorContainer,
  div.public-DraftEditor-content {
    height: 100%;
    padding-top: 1px;
    padding-left: 3px;
    padding-bottom: 1px;
    padding-right: 3px;
  }
  .rdw-editor-wrapper {
    border: ridge;
}
.rdw-editor-toolbar {
    border-bottom: ridge;
}

.react-tagsinput--focused {
  border-color: #115293;
}
.react-tagsinput-tag {
  background-color: #9fcaee;
  border-radius: 2px;
  border: 1px solid #115293;
  color: #1976d2;
  display: inline-block;
  font-family: sans-serif;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 5px;
  margin-right: 5px;
  padding: 5px;
}


::-webkit-file-upload-button{
  color: #fff;
  background-color: #206a5d;
  padding: 15px 25px;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 15px 25px #206a5d33;
  cursor: pointer;
  outline: none;
}

.DataFilter{
  background-color: #ffffff;
}