.image-logo {
    width: 50px;
    height: 50px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
}

.profile-pic {
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
}